<!-- nav -->
<nav *ngIf="isLoggedIn; else notLoggedIn">
  <mat-toolbar color="primary" class="mat-button">
    <a mat-flat-button routerLink="/" color="primary">Dashboard</a>
    <button mat-flat-button color="primary" (click)="logout()">Logout</button>
  </mat-toolbar>
</nav>
<ng-template #notLoggedIn><nav>
  <mat-toolbar color="primary" class="mat-button">
    <a mat-flat-button routerLink="/" color="primary">Home</a>
    <a mat-flat-button routerLink="/account/login" color="primary">Login</a>
    <a mat-flat-button routerLink="/account/sign-up" color="primary">Sign Up</a>
  </mat-toolbar>
</nav></ng-template>

<!-- main app container -->
<main class="container">
  <router-outlet></router-outlet>
</main>
