@use '@angular/material' as mat;

@import '../styles.scss';

@include mat.typography-hierarchy($fonts);
@include mat.button-typography($fonts);

.mat-button {
  @include mat.typography-level($fonts, 'button');
}

.spacer {
  flex: 1 1 auto;
}

.head-logo {
  max-height: 100%;
  cursor: pointer;
}
