/**
* Generated theme by Material Color Picker
* https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
* 
*/

@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

@include mat.core();

// Global styles
body {
  margin: 0;
}

html, body {
  height: 100%;
}

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Outlined';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$fonts: mat.define-typography-config(
  $font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.0134em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.0089em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: 0.0000em),
  $headline-4: mat.define-typography-level(34px, 40px, 400, $letter-spacing: 0.0074em),
  $headline-5: mat.define-typography-level(24px, 32px, 400, $letter-spacing: 0.0000em),
  $headline-6: mat.define-typography-level(20px, 32px, 500, $letter-spacing: 0.0075em),
  $subtitle-1: mat.define-typography-level(16px, 28px, 400, $letter-spacing: 0.0094em),
  $subtitle-2: mat.define-typography-level(15px, 24px, 500, $letter-spacing: 0.0067em),
  $body-1: mat.define-typography-level(14px, 24px, 300, $letter-spacing: 0.0179em),
  $body-2: mat.define-typography-level(14px, 20px, 300, $letter-spacing: 0.0179em),
  $caption: mat.define-typography-level(12px, 20px, 400, $letter-spacing: 0.0333em),
  $button: mat.define-typography-level(14px, 14px, 500, $letter-spacing: 0.0893em)
);

@include mat.all-component-typographies($fonts);

// Theme Config
$mat-primary: (
  50: #e7f5ef,
  100: #c5e6d7,
  200: #a0d7bd,
  300: #7ac8a4,
  400: #5dbc92,
  500: #3eb07f,
  600: #38a173,
  700: #328f66,
  800: #2e7d5a,
  900: #295d44,
  contrast : (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);
$theme-primary: mat.define-palette($mat-primary, 600, 200, 900);

$mat-accent: (
  50: #f9e6ee,
  100: #f2c0d6,
  200: #ec98bc,
  300: #e671a1,
  400: #e2578c,
  500: #df4478,
  600: #ce4073,
  700: #b73c6c,
  800: #a13866,
  900: #7a3158,
  contrast : (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);
$theme-accent: mat.define-palette($mat-accent, 800, 400, 900);

$mat-warn: (
  50: #fffce7,
  100: #fef8c3,
  200: #fdf39b,
  300: #fcee74,
  400: #fae954,
  500: #f8e435,
  600: #f9d433,
  700: #f7bc2b,
  800: #f5a623,
  900: #f17c15,
  contrast : (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);
$theme-warn: mat.define-palette($mat-warn, 800);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn
    ),
    typography: $fonts
    // is-dark: false,
    // foreground: $mat-light-theme-foreground,
    // background: $mat-light-theme-background
  )
);
$altTheme: mat.define-dark-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn
    ),
    typography: $fonts
    // is-dark: true,
    // foreground: $mat-dark-theme-foreground,
    // background: $mat-dark-theme-background
  )
);

// Theme Init
@include mat.core-theme($theme);
@include mat.all-component-themes($theme);

.theme-alternate {
  @include mat.core-color($altTheme);
  @include mat.all-component-colors($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons Outlined', 'Material Icons';  
  .mat-badge-content {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
}
