<div class="form-container">
  <form [formGroup]="signUpForm" novalidate (ngSubmit)="onSignUp()">
    <mat-card class="sign-up-card">
      <mat-card-header>
        <mat-card-title>Create an account</mat-card-title>
      </mat-card-header>
    
      <mat-card-content>
        <mat-form-field class="form-field-third-width">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="firstName">
          <mat-error *ngIf="(f['firstName'].value?.length ?? 0) > 255">
            Name is too long
          </mat-error>
          <mat-error *ngIf="f['firstName'].hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-third-width">
          <mat-label>Middle Name</mat-label>
          <input type="text" matInput formControlName="middleName">
          <mat-error *ngIf="(f['middleName'].value?.length ?? 0) > 255">
            Name is too long
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="form-field-third-width">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastName">
          <mat-error *ngIf="(f['lastName'].value?.length ?? 0) > 255">
            Name is too long
          </mat-error>
          <mat-error *ngIf="f['lastName'].hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-two-thirds-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. hansen.gianni@example.com">
          <mat-error *ngIf="f['email'].hasError('email'); else checkRequired">
            Please enter a valid email address
          </mat-error>
          <ng-template #checkRequired><mat-error *ngIf="f['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error></ng-template>
        </mat-form-field>

        <mat-form-field class="form-field-third-width" floatLabel="always">
          <mat-label>Phone Number</mat-label>
          <span matTextPrefix>+234&nbsp;</span>
          <custom-tel-input formControlName="phone"></custom-tel-input>
          <mat-error *ngIf="phoneInvalid()">
            Invalid phone number
          </mat-error>
        </mat-form-field>
      
        <mat-form-field class="form-field-half-width">
          <mat-label>Password</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" placeholder="Must be 6 or more characters">
          <button *ngIf="f['password'].value" matSuffix mat-icon-button aria-label="Show" (click)="hidePassword = !hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="f['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="(f['password'].value?.length ?? 1) > 0 && (f['password'].value?.length ?? 1) < 6">
            Must be 6 or more characters
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-half-width">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="confirmPassword" [errorStateMatcher]="passwordMatcher">
          <mat-error *ngIf="f['confirmPassword'].touched && signUpForm.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      
        <button mat-flat-button color="primary" type="submit" [disabled]="!signUpForm.valid">Sign Up</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
